 h1 {
	padding: 100px 0px;
    text-align: center;  
  }
  
 aside {
	padding: 10px 10px 5px 5px;
 }

 nav{
    float:left;
    padding-right:100px;
    padding-bottom: 4px;
  }

    img{
    float:right;  
    padding-left:10px;
    padding-bottom: 5px;
  }
  
    main { 
    padding-top:40px;
    padding-left:5px;
  }
td{
  text-align: center;
}

table{
  align-content:center;
}